* {
	padding: 0;
	margin: 0;
	color: var(--virtual-black);
	box-sizing: border-box;
	word-wrap: break-word;
	font-family: 'Albert Sans', sans-serif;
	line-height: 1.9;
}

:root {
	--virtual-black: hsl(0, 0%, 25%);
	--virtual-red: hsl(358, 88%, 33%);
	--virtual-white: hsl(240, 9%, 98%);
	--virtual-error: hsl(0, 84%, 54%);
}

body {
	margin: 32px;
	background: #FFF;
}

header, main {
	margin: 1rem;
}
#report-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0px;

}
.contact-header {
	margin: 16px;
}
.contact-header span
{
	font-size: 14px;
	color: var(--virtual-black);
	font-weight: 800;

}
header figure img {
	width: auto;
	height: 9.375em;
}
svg{
	outline: 2px solid var(--virtual-red);
	padding: 8px;
	border-radius: 50%;
}
#header-title
{
	display: flex;
	justify-content: space-between;
}

h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -1px;
}
#header-title p span {
	font-size: 1.25rem;
	color: var(--virtual-red);
	letter-spacing: normal;
}

p {
	font-size: 1rem;
	font-style: 400;

}
.contact-header {
	display: flex;
	align-items: center;
}
.virtual-icon
{
	width: 32px;
	height: 32px;
	stroke: var(--virtual-red);
	margin: 0 16px;
}

.job-Information h2
{
	padding: 8px 0px 8px 16px;
    background: var(--virtual-white);
    font-weight: 800;
    text-transform: uppercase;
    margin: 16px 0;
	font-size: 20px;
}

label {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: -1px;
	color: var(--virtual-red);
}
::selection {
	color: var(--virtual-white);
	background: var(--virtual-black);
}
.clientInfoBody{
	display: flex;
    justify-content: space-between;
	margin: 8px 32px
}
.clientInfoBody p {
}
.virtual-group {
	display: flex;
	justify-content: space-between;
}
.virtual-group .clientInfoBody {
	width: 50%;
}
.clientInfoBody #phone
{
	margin-right: 16px;
}
#workOrderDetails p , #requiredFutureActions p {
	margin: 8px 32px;
	text-align: justify;
}